html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215); 
  }

    

/* html {
    background-image: url("i.png");
    background-size: cover;
    height: 100vh;
  } */

  canvas {
    display: block;
  }

  p {
    color: white;
  }
  
 
